<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
  <head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <header th:fragment="header">
      <h1 th:text="#{plantilla.titulo}">Titulo</h1>
    </header>

    <footer th:fragment="footer">
      <div>
        <br/>
        <a th:href="@{/(lang=es)}">ES</a> |
        <a th:href="@{/(lang=en)}">EN</a> |
      </div>
      <span> [[#{plantilla.pie-pagina}]] <a href="https://www.google.com.mx" target="_blank">Google.com</a></span>
      <form method="POST" th:action="@{/logout}">
        <a href="#" onclick="this.parentNode.submit();">Logout</a>
      </form>
    </footer>

  </body>
</html>
